@import '../../scss/config';

.avatar {
  font-size: 10px;
  color: blue;

  img {
    height: 5rem;
    width: 5rem;
  }
}

@media all and (min-width: $breakpoint-m) {
  .avatar {
    //display: block;
  }
}
