@import "../../scss/config";
@import "../../scss/colors";

.statistics {
  height: 100%;
  margin: 0 2rem;

  &__chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: $breakpoint-m) {
  .statistics {
    margin: 0 10.6875rem;
  }
}
