$color-gray: #777;
$color-white: #fff;
$color-black: #000;

$color-blue: #4b4eff;

$color-dark-green: #598a5e;

$color-dark-red: #b84242;

$color-dark-blue: #3e5f71;
$color-light-blue: #59788a;

$color-light-gray: #f6f8fa;
$color-light-blueish: #dde8ec;

$color-dark-purple: #75287d;
$color-light-purple: #926198;

$color-lightish-gray: #e2e2e2;
