@import '../../scss/colors';

.button {
  background: $color-blue;
  color: white;
  padding: 1.0625rem 8.125rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6875rem;
  border-radius: 4px;
}
