@import '../../scss/colors';
@import '../../scss/config';

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background: $color-blue;
  color: white;

  font-style: italic;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.25px;

  border: none;
  border-radius: 4px;

  text-decoration: none;
  outline: none;
  height: 3.75rem;

  &:hover {
    background: $color-black;
  }
}

@media all and (min-width: $breakpoint-m) {
  button {
    padding: 1.0625rem 8.125rem;
    font-size: 1.6875rem;
  }
}
